html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Reem Kufi', sans-serif;;
    height: 100vh;
    width: 100vw;
}

.wrapper
{
    display: flex;
    flex-direction: column;
    flex: 1;
    /* overflow-x: hidden; */
    
}


.wrapper .landing 
{   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: .2e;
    background-color: rgb(103, 155, 103);
    height: 15em;
    width: 100vw;
}

.landing h1, h2
{
    margin-bottom: -.5em;
    margin-top: 30px;
}

@keyframes example  
{
   from {transform: rotate(0deg);}
   to {transform: rotate(360deg);}
}

/* Headers */
h1{
    color: white;
}
.topicHeading{
    color: white;
}
/* End of Headers */

.box {
    align-self: flex-end;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    margin: 0 auto 0 auto;
    transform-origin: bottom;
    width: 200px;
}
.bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: linear;
}
@keyframes bounce-1 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-40px); }
    100% { transform: translateY(0); }
}











/* .landing #globe
{   margin-top: 1em;
    height: 5em;
    width: 5em;
    background-color: lightblue;
    border-radius: 4em;
} */








.wrapper .drive 
{
    background-color: rgb(123, 177, 218);
    height: 20em;
    position: relative;
}





.wrapper .dumping 
{   display: flex;
    background-color: rgb(142, 168, 187);
    height: 25em;
    position: relative;
    
}
#background {
    position: relative;
    width: 100%;
}
#background img {
    object-fit:fill;
    width: 100vw;
    height: 100%;
   
}

.drive #drivingTruck{
    position: absolute;
    object-fit: fill;
    height: 300px;
    width: 100%;

}


.drive img{
    object-fit: fill;
    width: 100vw;
    height:100%;
    z-index: -1;
}








.dumping #dumpTruck
{
    position: absolute;
    object-fit: contain;
    height: 300px;
    width: 700px;
    top: 5em;
    left: 20em; 
    transition: all 5s 3s;
    color: rgba(35, 138, 228, 0);  
}

#dumpTruck:hover 
{
    left: -40em;
}


.wrapper .statPage
{position: relative;
    background-color: rgb(86, 112, 130);
    height: 40em;
}

.garbagePile #flies
{
    position: absolute;
    left: 15em;
    display: flex;
}

@keyframes flyfly
{
 from { transform: rotate(0deg) translateX(30px) rotate(0deg); }
 to   { transform: rotate(360deg) translateX(30px) rotate(-360deg); }
} 

@keyframes flyflytwo
{
 from { transform: rotate(0deg) translateX(30px) rotate(0deg); }
 to   { transform: rotate(-360deg) translateX(30px) rotate(360deg); }
} 

@keyframes falling
{
    0%  {top: 0em;  opacity: 0; }
    25% {top: 15em; opacity: 1;}
    50% {top: 25em; opacity: 1;}
    75% {top: 30em; opacity: .2;}
    100%{top: 33em; opacity: 0; }
    
}
@keyframes fallingtwo
{
    0%  {top: 0em;  opacity: 0; transform: rotate(0deg); }
    25% {top: 15em; opacity: 1;}
    50% {top: 25em; opacity: 1;}
    75% {top: 30em; opacity: .2;}
    100%{top: 33em; opacity: 0; transform: rotate(360deg); }
}


.statPage .flexContainer 
{
    position: relative;
    display: flex;

}
.garbagePile 
{   position: relative;
    object-fit: contain;
    width: 100vw;
    height: 100%
}

#fallingGarbage
{   display: flex;
    z-index: 1;
    /* position: absolute; */
}

#pile 
{   
    /* position: absolute; */
    left: -10em;
    top: 12em;
    display: flex;
    height: 20em;
   
}



.wrapper .conversation 
{   
    display:flex;
    justify-content: center;
    position: relative;
    background-color: rgb(103, 155, 103);
    height: 85em;
}

.characterFlex{
    display:flex;
    justify-content:space-around;
    background-color: green;
    position:relative;
    width: 70%;
    height:100%;

}

.wrapper .graph{
    display:flex;
    justify-content:center;
    align-items:flex-end;
    position: relative;
    background-color: green;
    height: 55em;
}

.buttonFlex{
    margin:30px;
}









.buttonFlex{
    display:flex;
  
}





#interactiveGraph
{
    position: absolute;
    width: 50vw;
    height: 45em;
    top: 1em;
    
}





.wrapper .mainCategory 
{   position: relative;
    background-color: rgb(152, 191, 152);
    height: 50em;
    display: flex;
    justify-content: space-evenly;
}

.mainCategory .topicHeading
{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 2em;
    font-size: 4em;
    left: 550px;
    align-items: center;
    justify-content: center;
}
.mainCategory .topicHeading2
{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 2em;
    font-size: 4em;
    left: 550px;
    align-items: center;
    justify-content: center;
}

.wrapper #halfGlobe 
{   position: absolute;
    left: -10em;
    z-index: 0;
    margin-right: 2em; ;
}
.wrapper #halfGlobe2 
{   position: absolute;
    right: -10em;
    z-index: 0;
    margin-left: 2em; 
    overflow: hidden;
}

.topicInfoFlex
{
    display: flex;
    margin-top: 5em;
}
.topicInfoFlex2
{
    display: flex;
    margin-top: 5em;
}
#categoryStatsFlex
{   
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 40vw;
    padding: 1em;
    
    /* border: 2px solid black; */
}


#dosAndDontsFlex{
display:flex;
}

#dosAndDontsFlex2{
display: flex;
background-color: rgb(152, 191, 152);
z-index: -5;
}





.wrapper .sorting
{
    background-color: rgb(146, 193, 210);
    height: 50em;
    position: relative;
}

.wrapper .bins 
{   
    display: flex;
    justify-content:center;
    align-items: center;
    position: absolute;
    top: 5em;
}



.wrapper #green 
{   box-sizing: border-box;
    overflow: hidden;
    /* position: absolute; */
    height: 400px;
    width: 33.3vw;
    
    margin: 0;
}
.wrapper #black 
{   box-sizing: border-box;
    overflow: hidden;
    /* position: absolute; */
    height: 400px;
    width: 33.3vw;
    
    margin: 0;
}
.wrapper #blue
{   box-sizing: border-box;
    overflow: hidden;
    /* position: absolute; */
    /* position: relative; */
    height: 400px;
    width: 33.3vw;
    z-index: -5;
    margin: 0;
    
}


#compostPit
{
    position: absolute;
    left: 25em;
    height: 50vh;
    width: 50vw;
}


.wrapper .happyResults
{
    background-color: rgb(210, 171, 146);
    height: 30em;
}

