.apple {
    display: inline-block;
    animation-name: rotate;
    animation-duration: .6s; 
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse; 
    transform: rotate(30deg);
  }
  
  @keyframes rotate{
    0% {
      transform: rotate(10deg);
    }

    50% {
        transform: rotate(-12deg);
    }
    100% {
      transform: rotate(10deg);
    }
  }
  
  
